@media (max-width:480px) {
    .services-box{
        height: 400px;
    }
    .contact{
        margin-bottom: 0;
    }
    section{
        padding: 50px;
    }
    .home-img img{
        height: 300px;
        width: 300px;
    }
}